page-home {
   .active-turn{
        border-left: 10px solid yellowgreen;
   } 

   .inactive-turn{
        border-left: 10px solid rgb(181, 235, 255);
    } 

    .turnCard{
        cursor: pointer;
    }
}
